<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3d8af50c2d.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bs/bootstrap.min.css">
    <link rel="stylesheet" href="css/bs/bootstrap-grid.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <title>Add new Contact</title>
</head>

<body>
    <div class="container">
        <div class="box" id="heading">
            <h1>Add new Contact</h1>
        </div>

        <div class="d-flex box">
            <div class="mainView">
                <div class="d-flex justify-content-center ">
                    <form action="/add-contact" method="POST">
                        <input id="first_name_field" type="text" name="newFirst" placeholder="Add first name" value=""
                            required="true">
                        <br>
                        <input id="last_name_field" type="text" name="newLast" placeholder="Add last name" value=""
                            required="true">
                        <br>
                        <input id="phone_number_field" type="text" name="newPhone" placeholder="Add a phone number" value=""
                            required="true">
                        <br>

                        <div class="d-flex justify-content-center ">
                            <button id="add-btn" type="submit" class="btn btn-primary submit-button">Add
                                Contact</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    </div>
</body>

</html>